{% extends "layout.html" %}
{% block body %}

<div class="time_updated">Last updated: {{ last_update_time }} GMT</div>

{% for group, urls in checkurls.items() %}

    <h1 class="group">{{ group }}</h1>
    {% for url in urls %}
        {% if returned_statuses.get(url) == "200" %}
            <p class="good_url">{{ url }} <font color="green"> {{ returned_statuses.get(url) }}</font></p>
        {% endif %}
    {% endfor %}
    
    {% for url in urls %}
        {% if returned_statuses.get(url) == "200" %}
        {% else %}
            <p class="bad_url">{{ url }} <font color="red"> {{ returned_statuses.get(url) }}</font></p>
        {% endif %}
    {% endfor %}
    
{% endfor %}

{% endblock %}
